*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #131313;
}
.full{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #202020;
    height: 70vh;
    width: 400px;
    border: 1px solid rgb(65,64,64);
    border-radius: 5px;
}
.heading{
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
}
.heading i{
    padding-left: 10px;
    margin-left: 10px;
}
.screen{
    height: 20%;
    color: white;
    display: flex;
    justify-content: right;
    align-items: end;
    padding-right: 10px;
    font-size: 50px;
    overflow: hidden;
}
.buttons{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 67%;
    gap: 3px;
    padding: 5px;
}
.keys{
    color: #fff;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.btn{
    background-color: #323232;
}
.eql{
    background-color: #76b9ed;
}
.keys:hover{
    background-color: #1e1d1d11;
}
.eql:hover{
    background-color: #3199e9;
}