.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover-link{
    cursor: pointer;

}
.hover-link:hover{
    color: rgb(255, 217, 217);
}
.hover-link:active{
    color: rgb(222, 189, 148);
}
